@import "todo.css";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 550px;
  margin: 0;
}

.btn {
  cursor: pointer;
}

body {
  color: white;
}

.clicked {
  color: #7f8c8d;
}

.clock {
  font-size: 60px;
  margin-top: 30px;
}

.clock h1 {
  margin: 0;
}

.form,
.greetings {
  display: none;
  font-size: 50px;
  margin: 20px 0;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.3s linear;
}

.yolo {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 5px 5px #aba8a8;
}

.yolo .yolo-title {
  margin: 0px;
}
.yolo .yolo-subtitle {
  margin: 0px;

  margin-top: 40px;
}

.yolo .yolo__time {
  font-size: 30px;
  margin: 0;
}
